Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  additional_dependencies:
  - jinja2
  entry: python3 .circleci/generate_circleci_config.py

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

verify-generated-config-yaml-syntax:
  name: Verify generated config.yml is valid YAML
  language: python
  additional_dependencies:
  - jinja2
  entry: 'python3 .circleci/generate_circleci_config.py \
  
    | yq eval . -
  
    '

verify-generated-slack-message-templates-json-syntax:
  name: Verify generated Slack message templates are valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

verify-generated-slack-notification-templates-json-syntax:
  name: Verify generated Slack notification templates are valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

correct constraints for pip install
  main/bullseye/Dockerfile
Due: update-dockerfiles

Create SECURITY.md
  SECURITY.md
Due: none

Add link to AC Support Policy
  SECURITY.md
Due: none

Expand reporting section
  SECURITY.md
Due: none

Reformat a bit
  SECURITY.md
Due: none

Update system packages
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.3.3/bullseye/Dockerfile
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles

Fix bug where packages.txt in Windows line-endings didn't work on bullseye
  common/Dockerfile.onbuild-bullseye
Due: none

Create SECURITY.md (#523)
  SECURITY.md
Due: none

Fix bug where packages.txt in Windows line-endings didn't work on bullseye (#526)
  common/Dockerfile.onbuild-bullseye
Due: none

Fix tests - we now have airflow-operator on the repo
  .circleci/bin/test-airflow
Due: none

Fix tests - we now have airflow-operator on the repo (#529)
  .circleci/bin/test-airflow
Due: none

Simplify CI dependencies
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Publish AC 2.3.4-2-dev
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Publish AC 2.3.4-2-dev (#532)
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump Mako in 2.3.4 to fix CVE
  2.3.4/bullseye/build-time-pip-constraints.txt
Due: none

Remove 2.3.3
  .circleci/common.py
  2.3.3/bullseye/Dockerfile
  2.3.3/bullseye/build-time-pip-constraints.txt
  2.3.3/bullseye/include/clean-airflow-logs
  2.3.3/bullseye/include/entrypoint
  2.3.3/bullseye/include/pip-constraints.txt
  2.3.3/bullseye/include/pip.conf
  2.3.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump Mako in 2.3.4 to fix CVE (#533)
  2.3.4/bullseye/build-time-pip-constraints.txt
Due: none

Simplify CI dependencies (#531)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove 2.3.3 (#528)
  .circleci/common.py
  2.3.3/bullseye/Dockerfile
  2.3.3/bullseye/build-time-pip-constraints.txt
  2.3.3/bullseye/include/clean-airflow-logs
  2.3.3/bullseye/include/entrypoint
  2.3.3/bullseye/include/pip-constraints.txt
  2.3.3/bullseye/include/pip.conf
  2.3.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Smoke test only relies on pushes
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Smoke test only relies on pushes (#534)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove unused DEV_ALLOWLIST
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
  .circleci/update_dockerfiles.py
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Ensure that we scan released versions during nightlies
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove alpine everywhere
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
Due: circle-config-yaml, update-dockerfiles, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Improve backtracing by adding more info to git commit when kicking off QA tests
  .circleci/kickoff_qa_tests.sh
Due: none

Scan released versions nightly (#530)
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
  .circleci/update_dockerfiles.py
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Switch to using `pip.astronomer.io` as primary index
  1.10.15/buster/include/pip.conf
  2.1.4/buster/include/pip.conf
  2.3.4/bullseye/include/pip.conf
  main/bullseye/include/pip.conf
Due: none

Update flower and Mako in supported images
  1.10.15/buster/build-time-pip-constraints.txt
  2.1.4/buster/build-time-pip-constraints.txt
Due: none

Update celery provider to 2.1.0 to get Flower~=1.0
  2.1.4/buster/build-time-pip-constraints.txt
Due: none

Improve backtracing by adding more info to git commit when kicking off QA tests (#535)
  .circleci/kickoff_qa_tests.sh
Due: none

And we need to update celery too
  2.1.4/buster/build-time-pip-constraints.txt
Due: none

2.1.1, not 2.1.0
  2.1.4/buster/build-time-pip-constraints.txt
Due: none

fixup! And we need to update celery too
  2.1.4/buster/build-time-pip-constraints.txt
Due: none

Release 2.3.4-2
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.3.4-2 (#538)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Fix nightly CI: we only scan, no building
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Fix nightly CI: we only scan, no building (#539)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Use proper spaces on CircleCI parameter interpolation
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-generated-slack-message-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$
  verify-generated-slack-notification-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$
