Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  entry: python3 .circleci/generate_circleci_config.py
  additional_dependencies:
  - jinja2

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

Fix problem with indent
  .circleci/config.yml.j2
Due: circle-config-yaml

Adding branch requires
  .circleci/config.yml.j2
Due: circle-config-yaml

Add contexts qa,slack
  .circleci/config.yml.j2
Due: circle-config-yaml

Release AC 2.2.2-1 (#351)
  .circleci/common.py
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Add script for building unofficial images with different base python versions
  scripts/build-alt-py-version.sh
Due: none

Added context to missing push
  .circleci/config.yml.j2
Due: circle-config-yaml

disable test
  .circleci/config.yml.j2
Due: circle-config-yaml

slack,add branch
  .circleci/config.yml.j2
Due: circle-config-yaml

Adding open slack channel
  .circleci/config.yml.j2
Due: circle-config-yaml

Remove branch specific changes
  .circleci/config.yml.j2
Due: circle-config-yaml

Squashed commit of the following:
  .circleci/common.py
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Move slack notif to a seperate job and run with dev
  .circleci/config.yml.j2
Due: circle-config-yaml

Add env var to specify SSH Key
  .circleci/config.yml
Due: circle-config-yaml

Add job to rebase astronomer/airflow:astro-main onto astronomer/airflow:main
  .circleci/config.yml
Due: circle-config-yaml

Dynamically generate the rebase-astro-main workflow
  .circleci/bin/test-airflow
  .circleci/common.py
  .circleci/config.yml
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  .circleci/verify_changelog_entries.py
  main/bullseye/Dockerfile
  main/bullseye/include/clean-airflow-logs
  main/bullseye/include/entrypoint
  main/bullseye/include/pip-constraints.txt
  main/bullseye/include/pip.conf
  main/bullseye/trivyignore
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries

Update test-airflow
  .circleci/bin/test-airflow
Due: none

Skip test for edge build
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  main/bullseye/Dockerfile
Due: update-dockerfiles

Add nightly builds for QA Docker images (#356)
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  .circleci/verify_changelog_entries.py
  main/bullseye/Dockerfile
  main/bullseye/include/clean-airflow-logs
  main/bullseye/include/entrypoint
  main/bullseye/include/pip-constraints.txt
  main/bullseye/include/pip.conf
  main/bullseye/trivyignore
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries

Add buster tag for 2.2.2
  .circleci/common.py
  2.2.2/buster
Due: update-dockerfiles, verify-changelog-entries

Add buster tag for 2.2.2 (#358)
  .circleci/common.py
  2.2.2/buster
Due: update-dockerfiles, verify-changelog-entries

Tag nightly edge builds with the YYYYMMDD version
  .circleci/config.yml.j2
Due: circle-config-yaml

Don't build edge builds on merges (eg: releases)
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
Due: circle-config-yaml

Format the other extra_args section similarly
  .circleci/config.yml.j2
Due: circle-config-yaml

Download latest-main.build once
  .circleci/config.yml.j2
Due: circle-config-yaml

Indent Jinja directives to the corresponding YAML depth
  .circleci/config.yml.j2
Due: circle-config-yaml

Tweak Jinja to generate newlines in better places
  .circleci/config.yml.j2
Due: circle-config-yaml

Add Jinja comments to better track loops and branches
  .circleci/config.yml.j2
Due: circle-config-yaml

Configure user.name and user.email for git rebase/commit
  .circleci/config.yml.j2
Due: circle-config-yaml

Configure `user.name` and `user.email` for git rebase/commit (#359)
  .circleci/config.yml.j2
Due: circle-config-yaml

Generate tags on push
  .circleci/config.yml.j2
Due: circle-config-yaml

Add documentation for scheduled and edge builds
  README.md
Due: verify-changelog-entries

Use Jinja variables more
  .circleci/config.yml.j2
Due: circle-config-yaml

Use the normal .build file for non-edge builds
  .circleci/config.yml.j2
Due: circle-config-yaml

Add a test for labels on edge builds
  .circleci/bin/test-airflow-image.py
Due: none

Fix syntax (and rely on pytest for good error messages)
  .circleci/bin/test-airflow-image.py
Due: none

Apply suggestions from code review
  .circleci/bin/test-airflow-image.py
Due: none

Better edge builds (#357)
  .circleci/bin/test-airflow-image.py
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
  README.md
Due: circle-config-yaml, verify-changelog-entries

Fixes nightly builds
  .circleci/config.yml.j2
Due: circle-config-yaml

Apply suggestions from code review
  .circleci/config.yml.j2
Due: circle-config-yaml

Fixes nightly builds (#360)
  .circleci/config.yml.j2
Due: circle-config-yaml

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
