Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  entry: python3 .circleci/generate_circleci_config.py
  additional_dependencies:
  - jinja2

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

Fix JSON syntax in Slack notification
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix JSON syntax in Slack notification (#382)
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix `CVE-2021-43618`
  1.10.10/buster/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Fix `CVE-2021-43618` (#383)
  1.10.10/buster/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Fix failing master
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix failing master (#384)
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix bash to properly fix failing master
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix bash to properly fix failing master (#385)
  .circleci/config.yml.j2
Due: circle-config-yaml

Add the qa context to all push jobs
  .circleci/config.yml.j2
Due: circle-config-yaml

Always print out the contents of the DOCKER_TAGS array
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix release builds (#386)
  .circleci/config.yml.j2
Due: circle-config-yaml

Break up Jinja template into smaller, syntax-specific templates
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
  .circleci/new_dev_build_slack_notification.json.j2
  .circleci/push.bash.j2
Due: circle-config-yaml

Add pre-commit checks for new syntax-specific template files, and final generated file and sections
  .circleci/config.yml.j2
  .pre-commit-config.yaml
Due: circle-config-yaml

Replace bash -n with shellcheck
  .circleci/config.yml.j2
  .pre-commit-config.yaml
Due: circle-config-yaml

Better Jinja templates and pre-commit checks (#387)
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
  .circleci/new_dev_build_slack_notification.json.j2
  .circleci/push.bash.j2
  .pre-commit-config.yaml
Due: circle-config-yaml

Update release date for ``2.2.3-1``
  2.2.3/CHANGELOG.md
Due: verify-changelog-entries

Update release date for ``2.2.3-1`` (#389)
  2.2.3/CHANGELOG.md
Due: verify-changelog-entries

Update Copyright Year
  .circleci/pre-commit-scripts/copyright.py
  .pre-commit-config.yaml
  1.10.10/alpine3.10/Dockerfile
  1.10.10/buster/Dockerfile
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  common/Dockerfile.onbuild-alpine3.10
  common/Dockerfile.onbuild-bullseye
  common/Dockerfile.onbuild-buster
  main/bullseye/Dockerfile
Due: update-dockerfiles

Update update_dockerfiles.py
  .circleci/update_dockerfiles.py
Due: update-dockerfiles

Update Copyright Year (#390)
  .circleci/pre-commit-scripts/copyright.py
  .circleci/update_dockerfiles.py
  .pre-commit-config.yaml
  1.10.10/alpine3.10/Dockerfile
  1.10.10/buster/Dockerfile
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  common/Dockerfile.onbuild-alpine3.10
  common/Dockerfile.onbuild-bullseye
  common/Dockerfile.onbuild-buster
  main/bullseye/Dockerfile
Due: update-dockerfiles

Improve Provider package script
  repackage-providers.py
Due: none

Black reformatting without string normalization
  repackage-providers.py
Due: none

Black format with String Normalization
  repackage-providers.py
Due: none

Reorder Imports
  repackage-providers.py
Due: none

Add Snyk for security scanning
  .circleci/config.yml.j2
Due: circle-config-yaml

add onbuild to image name
  .circleci/config.yml.j2
Due: circle-config-yaml

fixup! add onbuild to image name
  .circleci/config.yml.j2
Due: circle-config-yaml

download all images and test
  .circleci/config.yml.j2
Due: circle-config-yaml

fixup! download all images and test
  .circleci/config.yml.j2
Due: circle-config-yaml

onbuild scan
  .circleci/config.yml.j2
Due: circle-config-yaml

require snyk
  .circleci/config.yml.j2
Due: circle-config-yaml

Add Snyk for security scanning (#392)
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix CVEs for `2.2.2-2`, `2.2.1-3`, `2.2.0-5`, and `2.1.4-5`
  2.1.4/buster/build-time-pip-constraints.txt
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

Improve provider repackage script (#391)
  repackage-providers.py
Due: none

Bump click
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
Due: none

Downgrade Flask
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
Due: none

Remove support for AC 1.10.10
  .circleci/common.py
  1.10.10/CHANGELOG.md
  1.10.10/alpine3.10/.dockerignore
  1.10.10/alpine3.10/Dockerfile
  1.10.10/alpine3.10/build-time-pip-constraints.txt
  1.10.10/alpine3.10/include/clean-airflow-logs
  1.10.10/alpine3.10/include/entrypoint
  1.10.10/alpine3.10/include/humans@astronomer.io.rsa.pub
  1.10.10/alpine3.10/include/pip-constraints.txt
  1.10.10/alpine3.10/include/pip.conf
  1.10.10/alpine3.10/trivyignore
  1.10.10/buster/Dockerfile
  1.10.10/buster/build-time-pip-constraints.txt
  1.10.10/buster/include/clean-airflow-logs
  1.10.10/buster/include/entrypoint
  1.10.10/buster/include/pip-constraints.txt
  1.10.10/buster/include/pip.conf
  1.10.10/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries

Remove support for AC 1.10.10 (#395)
  .circleci/common.py
  1.10.10/CHANGELOG.md
  1.10.10/alpine3.10/.dockerignore
  1.10.10/alpine3.10/Dockerfile
  1.10.10/alpine3.10/build-time-pip-constraints.txt
  1.10.10/alpine3.10/include/clean-airflow-logs
  1.10.10/alpine3.10/include/entrypoint
  1.10.10/alpine3.10/include/humans@astronomer.io.rsa.pub
  1.10.10/alpine3.10/include/pip-constraints.txt
  1.10.10/alpine3.10/include/pip.conf
  1.10.10/alpine3.10/trivyignore
  1.10.10/buster/Dockerfile
  1.10.10/buster/build-time-pip-constraints.txt
  1.10.10/buster/include/clean-airflow-logs
  1.10.10/buster/include/entrypoint
  1.10.10/buster/include/pip-constraints.txt
  1.10.10/buster/include/pip.conf
  1.10.10/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries

Fix CVEs for `2.2.2-2`, `2.2.1-3`, `2.2.0-5`, and `2.1.4-5` (#394)
  2.1.4/buster/build-time-pip-constraints.txt
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

Only fail snyk if we can fix it...
  .circleci/config.yml.j2
Due: circle-config-yaml

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
