Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

Bump numpy
  2.1.4/buster/build-time-pip-constraints.txt
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

ignore celery on 2.1.4
  2.1.4/buster/trivyignore
Due: none

Fixes for 2.2.3, 2.1.3, 2.1.1, and 2.1.0
  2.1.0/buster/build-time-pip-constraints.txt
  2.1.0/buster/trivyignore
  2.1.1/buster/build-time-pip-constraints.txt
  2.1.1/buster/trivyignore
  2.1.3/buster/build-time-pip-constraints.txt
  2.1.3/buster/trivyignore
  2.2.3/bullseye/build-time-pip-constraints.txt
Due: none

More bumps
  2.1.0/buster/build-time-pip-constraints.txt
  2.1.1/buster/build-time-pip-constraints.txt
  2.1.3/buster/build-time-pip-constraints.txt
  2.2.3/bullseye/build-time-pip-constraints.txt
Due: none

bump numpy
  2.1.0/buster/build-time-pip-constraints.txt
  2.1.1/buster/build-time-pip-constraints.txt
  2.1.3/buster/build-time-pip-constraints.txt
Due: none

Move CVE fixes for `2.1.0-2.2.3` (#396)
  .circleci/config.yml.j2
  2.1.0/buster/build-time-pip-constraints.txt
  2.1.0/buster/trivyignore
  2.1.1/buster/build-time-pip-constraints.txt
  2.1.1/buster/trivyignore
  2.1.3/buster/build-time-pip-constraints.txt
  2.1.3/buster/trivyignore
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/trivyignore
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
  2.2.3/bullseye/build-time-pip-constraints.txt
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add script to clean old dev artifacts from GCS storage
  clean-artifacts.py
Due: none

Add script to clean old dev artifacts from GCS storage (#397)
  clean-artifacts.py
Due: none

Bump FAB to `3.4.3`
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

Fix an import error in repackaging provider script
  repackage-providers.py
Due: none

Bump FAB to `3.4.3` (#398)
  2.2.0/bullseye/build-time-pip-constraints.txt
  2.2.1/bullseye/build-time-pip-constraints.txt
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

Fix an import error in repackaging provider script (#399)
  repackage-providers.py
Due: none

Add `2.1.0-7.dev`, `2.1.1-6.dev`, and `2.1.3-4.dev`
  .circleci/common.py
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `2.1.0-7.dev`, `2.1.1-6.dev`, and `2.1.3-4.dev` (#400)
  .circleci/common.py
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `2.2.3-2.dev`
  .circleci/common.py
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `2.2.3-2.dev` (#401)
  .circleci/common.py
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `io.astronomer.docker.fab_security_manager.version` label
  1.10.15/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles

Add `io.astronomer.docker.fab_security_manager.version` label (#403)
  1.10.15/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles

Release AC images 2.2.3-2.1.0
  .circleci/common.py
  2.1.0/CHANGELOG.md
  2.1.0/buster/Dockerfile
  2.1.1/CHANGELOG.md
  2.1.1/buster/Dockerfile
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

fix dates
  2.1.3/CHANGELOG.md
  2.1.4/CHANGELOG.md
  2.2.0/CHANGELOG.md
  2.2.1/CHANGELOG.md
  2.2.2/CHANGELOG.md
Due: verify-changelog-entries

Add astro FAB SM update to changelogs
  2.1.0/CHANGELOG.md
  2.1.1/CHANGELOG.md
  2.1.3/CHANGELOG.md
  2.1.4/CHANGELOG.md
  2.2.0/CHANGELOG.md
  2.2.1/CHANGELOG.md
  2.2.2/CHANGELOG.md
  2.2.3/CHANGELOG.md
Due: verify-changelog-entries

Release AC `2.2.3-2.1.0` (#393)
  .circleci/common.py
  2.1.0/CHANGELOG.md
  2.1.0/buster/Dockerfile
  2.1.1/CHANGELOG.md
  2.1.1/buster/Dockerfile
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add shellcheck pre-commit hook. Fix complaints.
  .circleci/bin/install-ci-tools
  .circleci/bin/start-kind-cluster
  .circleci/bin/test-airflow
  .pre-commit-config.yaml
Due: none

Try without pyenv. Bump some versions.
  .circleci/config.yml.j2
  .circleci/test-requirements.txt
  .pre-commit-config.yaml
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Try using docker image instead of machine for pre-commit
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Skip sudo
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Use curl instead of wget
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix -o flag
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Install jq
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix chmod
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix trivy invocation by adding 'image' subcommand
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix trivy invocation by adding 'image' subcommand (#405)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.2.4-1.dev
  .circleci/common.py
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  2.2.4/bullseye/include/clean-airflow-logs
  2.2.4/bullseye/include/entrypoint
  2.2.4/bullseye/include/pip-constraints.txt
  2.2.4/bullseye/include/pip.conf
  2.2.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.2.4-1.dev (#406)
  .circleci/common.py
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  2.2.4/bullseye/include/clean-airflow-logs
  2.2.4/bullseye/include/entrypoint
  2.2.4/bullseye/include/pip-constraints.txt
  2.2.4/bullseye/include/pip.conf
  2.2.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update dependecies to get latest libexpat1
  2.2.4/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Bump latest releases
  1.10.15/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles

Update dependecies to get latest expat (#407)
  1.10.15/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.3/bullseye/Dockerfile
  2.2.4/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Bump Fab Security Manager
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Bump Fab Security Manager (#408)
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Change `auth_backend` to `auth_backends`
  .circleci/bin/test-airflow-image.py
  main/bullseye/Dockerfile
Due: update-dockerfiles, verify-generated-config-yaml-syntax
