Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

Bump FAB security manager to 1.9.0 for main build
  main/bullseye/Dockerfile
Due: update-dockerfiles

Bump FAB security manager to 1.9.0 for main build (#458)
  main/bullseye/Dockerfile
Due: update-dockerfiles

Also update the astronomer-fab-securitymanager to 1.9.0 in the devel image
  main/bullseye/Dockerfile
Due: update-dockerfiles

Also update the astronomer-fab-securitymanager to 1.9.0 in the devel image (#459)
  main/bullseye/Dockerfile
Due: update-dockerfiles

Check for different Dockerfile ARG values
  .circleci/bin/check-different-arg-values.sh
  .pre-commit-config.yaml
Due: none

Improve error message wording
  .circleci/bin/check-different-arg-values.sh
Due: none

Don't advertise how to turn off this check
  .circleci/bin/check-different-arg-values.sh
Due: none

Add 2.2.5-3-dev
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove build args that aren't used anymore
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Markdown formatting
  2.2.5/CHANGELOG.md
Due: verify-changelog-entries

More markdown formatting
  2.2.5/CHANGELOG.md
Due: verify-changelog-entries

Add 2.2.5-3-dev (#461)
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Check for different Dockerfile version ARG values (#460)
  .circleci/bin/check-different-arg-values.sh
  .pre-commit-config.yaml
Due: none

Remove `2.2.4`
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  2.2.4/bullseye/include/clean-airflow-logs
  2.2.4/bullseye/include/entrypoint
  2.2.4/bullseye/include/pip-constraints.txt
  2.2.4/bullseye/include/pip.conf
  2.2.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove `2.2.4` (#455)
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  2.2.4/bullseye/include/clean-airflow-logs
  2.2.4/bullseye/include/entrypoint
  2.2.4/bullseye/include/pip-constraints.txt
  2.2.4/bullseye/include/pip.conf
  2.2.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove line continuation to silence a Docker warning that will soon be a Docker error
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Add `2.3.0-1-dev`
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/build-time-pip-constraints.txt
  2.3.0/bullseye/include/clean-airflow-logs
  2.3.0/bullseye/include/entrypoint
  2.3.0/bullseye/include/pip-constraints.txt
  2.3.0/bullseye/include/pip.conf
  2.3.0/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Apply suggestions from code review
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/include/entrypoint
Due: update-dockerfiles

Remove line continuation to silence a Docker warning that will soon be a Docker error (#463)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Remove build args that aren't used anymore (#462)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix the Astronomer logo - hotlink to an image on Imgur and greatly improve alt text
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
Due: circle-config-yaml, brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix at-mentions for new dev build Slack notifications, and greatly improve alt text for Docker notification image
  .circleci/new_dev_build_slack_notification.json.j2
Due: brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax

Fixup slack notifications (#465)
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
  .circleci/new_dev_build_slack_notification.json.j2
Due: circle-config-yaml, brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `in` to `.gitignore`
  .gitignore
Due: none

Update 2.3.0/bullseye/build-time-pip-constraints.txt
  2.3.0/bullseye/build-time-pip-constraints.txt
Due: none

Apply suggestions from code review
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles

Update 2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles

Add `2.3.0-1-dev` (#464)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/build-time-pip-constraints.txt
  2.3.0/bullseye/include/clean-airflow-logs
  2.3.0/bullseye/include/entrypoint
  2.3.0/bullseye/include/pip-constraints.txt
  2.3.0/bullseye/include/pip.conf
  2.3.0/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add `in` to `.gitignore` (#466)
  .gitignore
Due: none

added check for sidecar env and modified exec command
  2.2.5/bullseye/include/entrypoint
Due: none

Update deps to fix gzip/liblzma5 CVE-2022-1271
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  2.3.0/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Update deps to fix gzip/liblzma5 CVE-2022-1271 (#470)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  2.3.0/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Update astronomer-fab-securitymanager to 1.9.1 for 2.3.0 and main images
  2.3.0/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Update astronomer-fab-securitymanager to 1.9.1 for 2.3.0 and main images (#468)
  2.3.0/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Silence 2.3.0 deprecation warnings
  2.3.0/bullseye/include/entrypoint
  main/bullseye/include/entrypoint
Due: none

Silence 2.3.0 deprecation warnings (#472)
  2.3.0/bullseye/include/entrypoint
  main/bullseye/include/entrypoint
Due: none

Bump 2.3.0 constraints
  2.3.0/bullseye/build-time-pip-constraints.txt
Due: none

Bump 2.3.0 constraints (#473)
  2.3.0/bullseye/build-time-pip-constraints.txt
Due: none

Release AC `2.3.0-1`
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update 2.3.0/CHANGELOG.md
  2.3.0/CHANGELOG.md
Due: verify-changelog-entries
