Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-generated-slack-message-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$
  verify-generated-slack-notification-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$

Load Docker image or pull it from the registry if loading fails
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Use quotes around version strings
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Separate load and pull jobs
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Revert "Separate load and pull jobs"
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Revert "Load Docker image or pull it from the registry if loading fails"
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Enable auto-loading from image registries
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Fix nightly scans (#540)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add a second way to scan images with snyk
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Scan images on quay.io/astronomer/
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Fix nightly scans again (#541)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump upgrade epoch numbers to upgrade all system packages
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles

Bump upgrade epoch numbers to upgrade all system packages (#542)
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles

Add 2.4.1-1-dev
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  2.4.1/CHANGELOG.md
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/build-time-pip-constraints.txt
  2.4.1/bullseye/include/clean-airflow-logs
  2.4.1/bullseye/include/entrypoint
  2.4.1/bullseye/include/pip-constraints.txt
  2.4.1/bullseye/include/pip.conf
  2.4.1/bullseye/trivyignore
  README.md
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Apply suggestions from code review
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update 2.4.1/bullseye/include/entrypoint
  2.4.1/bullseye/include/entrypoint
Due: none

Fixup CHANGELOG
  2.4.1/CHANGELOG.md
Due: verify-changelog-entries

Fix date
  2.4.1/CHANGELOG.md
Due: verify-changelog-entries

Add 2.4.1-1-dev (#543)
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  2.4.1/CHANGELOG.md
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/build-time-pip-constraints.txt
  2.4.1/bullseye/include/clean-airflow-logs
  2.4.1/bullseye/include/entrypoint
  2.4.1/bullseye/include/pip-constraints.txt
  2.4.1/bullseye/include/pip.conf
  2.4.1/bullseye/trivyignore
  README.md
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

1.10.15 has reach EOL 🎉
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  1.10.15/buster/Dockerfile
  1.10.15/buster/build-time-pip-constraints.txt
  1.10.15/buster/include/clean-airflow-logs
  1.10.15/buster/include/entrypoint
  1.10.15/buster/include/pip-constraints.txt
  1.10.15/buster/include/pip.conf
  1.10.15/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.1-1
  .circleci/common.py
  2.4.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Transform released version
  .circleci/update_dockerfiles.py
  2.4.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-generated-config-yaml-syntax

Release 2.4.1-1 (#545)
  .circleci/common.py
  .circleci/update_dockerfiles.py
  2.4.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

1.10.15 has reach EOL 🎉 (#544)
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  1.10.15/buster/Dockerfile
  1.10.15/buster/build-time-pip-constraints.txt
  1.10.15/buster/include/clean-airflow-logs
  1.10.15/buster/include/entrypoint
  1.10.15/buster/include/pip-constraints.txt
  1.10.15/buster/include/pip.conf
  1.10.15/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.3.4-3-dev
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.3.4-3-dev (#546)
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Releasing 2.3.4-3
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Releasing 2.3.4-3 (#547)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

addAstronomerAnalyticsPluginToImages
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.1/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

add analytics plugin
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.1/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Add astronomer certified extensions
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  .gitignore
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/include/pip.conf
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/include/pip.conf
  package/astronomer/certified/__init__.py
  package/astronomer/certified/blueprint.py
  package/astronomer/certified/plugin.py
  package/astronomer/certified/static/astro-theme.css
  package/astronomer/certified/templates/certified_base.html
  package/astronomer/pyproject.toml
  package/astronomer/seed_log_template.py
  package/dev-requirements.txt
  package/setup.cfg
  package/setup.py
  package/tests/conftest.py
  package/tests/test_plugin.py
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add astronomer certified extensions (#497)
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  .gitignore
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/include/pip.conf
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/include/pip.conf
  package/astronomer/certified/__init__.py
  package/astronomer/certified/blueprint.py
  package/astronomer/certified/plugin.py
  package/astronomer/certified/static/astro-theme.css
  package/astronomer/certified/templates/certified_base.html
  package/astronomer/pyproject.toml
  package/astronomer/seed_log_template.py
  package/dev-requirements.txt
  package/setup.cfg
  package/setup.py
  package/tests/conftest.py
  package/tests/test_plugin.py
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add changelog for 2.3.4-4-dev
  2.3.4/CHANGELOG.md
Due: verify-changelog-entries

Temporarily ignore these two CVEs
  2.3.4/bullseye/trivyignore
Due: none

Add changelog for 2.3.4-4-dev (#550)
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/trivyignore
Due: verify-changelog-entries

Release AC 2.3.4-4
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update 2.3.4/bullseye/trivyignore
  2.3.4/bullseye/trivyignore
Due: none

Release AC 2.3.4-4 (#551)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

use github plugin release url
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.1/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

cleanup
  main/bullseye/Dockerfile
Due: update-dockerfiles

cleanup
  2.4.1/bullseye/Dockerfile
Due: update-dockerfiles
