Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  additional_dependencies:
  - jinja2
  entry: python3 .circleci/generate_circleci_config.py

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

brittle-verify-slack-notification-job-json-syntax:
  name: '[May be brittle] Verify build approval is valid JSON'
  language: system
  entry: 'bash -c "echo >&2 \"Feel free to remove this check if it''s too brittle\""
  
    jq build_approval_slack_notification.json.j2
  
    jq new_dev_build_slack_notification.json.j2
  
    '

brittle-verify-push-job-bash-syntax:
  name: '[May be brittle] Verify push job is valid Bash'
  language: system
  entry: 'bash -c "echo >&2 \"Feel free to remove this check if it''s too brittle\""
  
    bash -n .circleci/push.bash.j2
  
    '

verify-generated-config-yaml-syntax:
  name: Verify the generated config.yml is valid YAML
  language: python
  additional_dependencies:
  - jinja2
  entry: 'python3 .circleci/generate_circleci_config.py \
  
    | yq eval . -
  
    '

verify-build-approval-slack-notification-json:
  name: Verify build approval Slack notifications use valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

verify-slack-notification-job-json:
  name: Verify Slack notification job uses valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

Bump k8s provider
  2.3.0/bullseye/build-time-pip-constraints.txt
Due: none

Release AC `2.3.0-1` (#474)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump FAB SM to 1.9.2
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump FAB SM to 1.9.2 (#475)
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.3.0-2`
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.3.0-2` (#476)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add logs after successful connection to DB in the entrypoint
  1.10.15/buster/include/entrypoint
  2.1.4/buster/include/entrypoint
  2.2.5/bullseye/include/entrypoint
  2.3.0/bullseye/include/entrypoint
  main/bullseye/include/entrypoint
Due: none

Add logs after successful connection to DB in the entrypoint (#477)
  1.10.15/buster/include/entrypoint
  2.1.4/buster/include/entrypoint
  2.2.5/bullseye/include/entrypoint
  2.3.0/bullseye/include/entrypoint
  main/bullseye/include/entrypoint
Due: none

Bump to 2.3.0-3-dev
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump to 2.3.0-3-dev (#478)
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.3.0-3
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.3.0-3 (#479)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.0-4-dev
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.0-4-dev (#480)
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.3.0-4
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release AC 2.3.0-4 (#481)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix bug where packages.txt in Windows line-endings didn't work
  common/Dockerfile.onbuild-buster
Due: none

Fix bug where packages.txt in Windows line-endings didn't work (#482)
  common/Dockerfile.onbuild-buster
Due: none

Release 2.3.0-5
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update 2.3.0/CHANGELOG.md
  2.3.0/CHANGELOG.md
Due: verify-changelog-entries

Release 2.3.0-5 (#483)
  .circleci/common.py
  2.3.0/CHANGELOG.md
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.0-6-dev
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.0-6-dev (#484)
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.1-1-dev
  .circleci/common.py
  2.3.1/CHANGELOG.md
  2.3.1/bullseye/Dockerfile
  2.3.1/bullseye/build-time-pip-constraints.txt
  2.3.1/bullseye/include/clean-airflow-logs
  2.3.1/bullseye/include/entrypoint
  2.3.1/bullseye/include/pip-constraints.txt
  2.3.1/bullseye/include/pip.conf
  2.3.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.1-1-dev (#485)
  .circleci/common.py
  2.3.1/CHANGELOG.md
  2.3.1/bullseye/Dockerfile
  2.3.1/bullseye/build-time-pip-constraints.txt
  2.3.1/bullseye/include/clean-airflow-logs
  2.3.1/bullseye/include/entrypoint
  2.3.1/bullseye/include/pip-constraints.txt
  2.3.1/bullseye/include/pip.conf
  2.3.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.3.1-1
  .circleci/common.py
  2.3.1/CHANGELOG.md
  2.3.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Ignore CVE-2022-29217
  2.3.1/bullseye/trivyignore
Due: none

Release `2.3.1-1` (#486)
  .circleci/common.py
  2.3.1/CHANGELOG.md
  2.3.1/bullseye/Dockerfile
  2.3.1/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.2-1-dev
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
  2.3.2/bullseye/build-time-pip-constraints.txt
  2.3.2/bullseye/include/clean-airflow-logs
  2.3.2/bullseye/include/entrypoint
  2.3.2/bullseye/include/pip-constraints.txt
  2.3.2/bullseye/include/pip.conf
  2.3.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.2-1-dev (#487)
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
  2.3.2/bullseye/build-time-pip-constraints.txt
  2.3.2/bullseye/include/clean-airflow-logs
  2.3.2/bullseye/include/entrypoint
  2.3.2/bullseye/include/pip-constraints.txt
  2.3.2/bullseye/include/pip.conf
  2.3.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump constraints and changelog to publish 2.3.2-1-dev
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/build-time-pip-constraints.txt
Due: verify-changelog-entries

Bump constraints and changelog to publish 2.3.2-1-dev (#488)
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/build-time-pip-constraints.txt
Due: verify-changelog-entries

Release AC 2.3.2-1
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release AC 2.3.2-1 (#489)
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update before install with apt-get
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update before install with apt-get (#490)
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.2-2-dev
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.2-2-dev (#491)
  .circleci/common.py
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update trivyignore list for non-critical to us issues
  1.10.15/buster/trivyignore
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/trivyignore
  2.2.5/bullseye/trivyignore
  2.3.0/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
