Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries

.pre-commit-config.yaml:

exclude: '^alpine-packages/.*$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case"]
        files: '^.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: circle-config-yaml
        name: Checks for consistency between config.yml and config.yml.j2
        language: python
        files: "config.yml$|config.yml.j2|generate_circleci_config.py$"
        entry: python3 .circleci/generate_circleci_config.py
        additional_dependencies: ['jinja2']
      - id: update-dockerfiles
        name: Updates all Dockerfiles with their respective version numbers and constraint files
        language: python
        files: "(common|update_dockerfiles).py$|Dockerfile$"
        entry: python3 .circleci/update_dockerfiles.py
        require_serial: true
      - id: verify-changelog-entries
        name: Verifies individual CHANGELOG files for each release and adds links to README.md
        language: python
        files: "(common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$"
        entry: python3 .circleci/verify_changelog_entries.py
        require_serial: true

Fix bugs with edge builds
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix bugs with edge builds (#361)
  .circleci/config.yml.j2
Due: circle-config-yaml

Emit additional info for debugging nightlies
  .circleci/config.yml.j2
Due: circle-config-yaml

Emit additional info for debugging nightlies (#362)
  .circleci/config.yml.j2
Due: circle-config-yaml

Templatize workspace_prefix
  .circleci/config.yml.j2
Due: circle-config-yaml

Mount the workspace containing build info into the 'push' Docker job step
  .circleci/config.yml.j2
Due: circle-config-yaml

Use jq's raw output so it doesn't quote strings in its output
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix nightly build tagging (#363)
  .circleci/config.yml.j2
Due: circle-config-yaml

Add `2.2.2-2.dev`, `2.2.1-3.dev`, `2.2.0-5.dev`, and `2.1.4-4.dev`
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Add `2.2.2-2.dev`, `2.2.1-3.dev`, `2.2.0-5.dev`, and `2.1.4-4.dev` (#364)
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Fix nightly non-main dev builds
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix nightly non-main dev builds (#365)
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix dev builds
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix dev builds (#366)
  .circleci/config.yml.j2
Due: circle-config-yaml

Add slack notification
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix getting version from build file
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix getting version from build file (#367)
  .circleci/config.yml.j2
Due: circle-config-yaml

Update config.yml
  .circleci/config.yml
Due: circle-config-yaml

Add 2.2.3-1.dev
  .circleci/common.py
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
  2.2.3/bullseye/build-time-pip-constraints.txt
  2.2.3/bullseye/include/clean-airflow-logs
  2.2.3/bullseye/include/entrypoint
  2.2.3/bullseye/include/pip-constraints.txt
  2.2.3/bullseye/include/pip.conf
  2.2.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries

Add 2.2.3-1.dev (#369)
  .circleci/common.py
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
  2.2.3/bullseye/build-time-pip-constraints.txt
  2.2.3/bullseye/include/clean-airflow-logs
  2.2.3/bullseye/include/entrypoint
  2.2.3/bullseye/include/pip-constraints.txt
  2.2.3/bullseye/include/pip.conf
  2.2.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries

Update the copyright year to 2021
  .circleci/update_dockerfiles.py
  1.10.10/alpine3.10/Dockerfile
  1.10.10/buster/Dockerfile
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles

Update the copyright year to 2021 (#371)
  .circleci/update_dockerfiles.py
  1.10.10/alpine3.10/Dockerfile
  1.10.10/buster/Dockerfile
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles

Consolidate Slack notifications into one message
  .circleci/config.yml.j2
Due: circle-config-yaml

Consolidate Slack notifications into one message (#372)
  .circleci/config.yml.j2
Due: circle-config-yaml

Linkify things and swap out pull request for Git SHA info
  .circleci/config.yml.j2
Due: circle-config-yaml

Linkify things and swap out pull request for Git SHA info (#375)
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix Git SHA link syntax
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix Git SHA link syntax (#376)
  .circleci/config.yml.j2
Due: circle-config-yaml

Tweak old notification formatting for small screens
  .circleci/config.yml.j2
Due: circle-config-yaml

Add Slack notifications for new releases
  .circleci/config.yml.j2
Due: circle-config-yaml

Pull the VERSION build arg from the correct build info file
  .circleci/config.yml.j2
Due: circle-config-yaml

Update QA database when new tags are built
  .circleci/config.yml.j2
Due: circle-config-yaml

Pass edge_build as a job parameter
  .circleci/config.yml.j2
Due: circle-config-yaml

Pull the VERSION build arg from the correct build info file (#378)
  .circleci/config.yml.j2
Due: circle-config-yaml

Tweak the log output to be more descriptive
  .circleci/config.yml.j2
Due: circle-config-yaml

Send Slack notifications and update QA database on new releases (#379)
  .circleci/config.yml.j2
Due: circle-config-yaml

Bump test requirements
  .circleci/test-requirements.txt
Due: none

Release AC `2.2.3-1`
  .circleci/common.py
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Bump test requirements (#380)
  .circleci/test-requirements.txt
Due: none

Release AC `2.2.3-1` (#381)
  .circleci/common.py
  2.2.3/CHANGELOG.md
  2.2.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries
