Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

Release `2.2.4-2`, `2.1.4-6`, and `1.10.15-6` (fixed)
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.2.4-2`, `2.1.4-6`, and `1.10.15-6` (fixed) (#427)
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

burst cache
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Ignore `CVE-2022-24407`
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.4/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Revert "Ignore `CVE-2022-24407`"
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.4/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Fix `CVE-2022-24407` (#429)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Stop using cache for main builds
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Stop using cache for main builds (#430)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Clean up CVE allowlists
  .codeclimate.yml
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.4/bullseye/trivyignore
  cve-allowlist.yaml
Due: none

Add Jed as `CODEOWNER`
  CODEOWNERS
Due: none

Add Jed as `CODEOWNER` (#432)
  CODEOWNERS
Due: none

Clean up CVE allowlists (#431)
  .codeclimate.yml
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.4/bullseye/trivyignore
  cve-allowlist.yaml
Due: none

Include version string in Slack approval notifications (they're now split-out)
  .circleci/build_approval_slack_notification.json.j2
Due: brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Tweak wording about main and dev builds bypassing approval
  .circleci/build_approval_slack_notification.json.j2
Due: brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Adjust who is at-mentioned for new builds
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
Due: circle-config-yaml, brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix CODEOWNERS
  CODEOWNERS
Due: none

Tweak Slack approval notification (#433)
  .circleci/build_approval_slack_notification.json.j2
  .circleci/config.yml.j2
Due: circle-config-yaml, brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Only set versions once, while keeping labels
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Add missed Istio patch for `2.2.4-2`
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Update test-airflow-image.py
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Revert to `1!3.0.1`
  2.2.4/bullseye/build-time-pip-constraints.txt
Due: none

Bump to 2.2.4-3.dev image
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add missed Istio patch for `2.2.4-2` (#435)
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Burst cache for dependencies
  1.10.15/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  main/bullseye/Dockerfile
Due: update-dockerfiles

Burst cache for dependencies (#436)
  1.10.15/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
  2.2.4/bullseye/build-time-pip-constraints.txt
  main/bullseye/Dockerfile
Due: update-dockerfiles

Release `2.2.4-3`
  .circleci/common.py
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.2.4-3` (#437)
  .circleci/common.py
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

[debug]
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add Changelogs for deprecated versions
  1.10.12/CHANGELOG.md
  1.10.14/CHANGELOG.md
  2.0.0/CHANGELOG.md
  2.0.2/CHANGELOG.md
  2.1.0/CHANGELOG.md
  2.1.1/CHANGELOG.md
  2.1.3/CHANGELOG.md
  2.2.0/CHANGELOG.md
  2.2.1/CHANGELOG.md
  2.2.2/CHANGELOG.md
  2.2.3/CHANGELOG.md
Due: verify-changelog-entries

Document all of the different types of builds
  README.md
Due: verify-changelog-entries

Also tag main.dev images
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fixup instructions for adding a new distro
  README.md
Due: verify-changelog-entries

Define all approvers in one place
  .circleci/new_dev_build_slack_notification.json.j2
Due: brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax

Add Docker labels for the CircleCI workflow ID and a link to the workflow execution
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Tag nightly builds
  .circleci/config.yml.j2
  .circleci/push.bash.j2
Due: circle-config-yaml, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Don't include the (wrong) CircleCI build number in the image tag
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Tweaks, fixups, and general cleanup (#438)
  .circleci/config.yml.j2
  .circleci/new_dev_build_slack_notification.json.j2
  .circleci/push.bash.j2
  README.md
Due: circle-config-yaml, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json
