Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

Add entrypoint from previous redux into supported 2.2.4
  2.2.4/bullseye/include/entrypoint
Due: none

Fix failing nightly
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix failing nightly (#440)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix build string in Docker image tag
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix build string in Docker image tag (#441)
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update image tag example in docs
  README.md
Due: verify-changelog-entries

Always build nightlies for version releases
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Also tag nightly images with CIRCLE_BUILD_NUM
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Always build version nightlies (#442)
  .circleci/config.yml.j2
  README.md
Due: circle-config-yaml, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Ensure that numbered dev version strings are SemVer
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  README.md
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Ensure that numbered dev version strings are SemVer (#443)
  .circleci/bin/test-airflow
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  .circleci/config.yml.j2
  .circleci/update_dockerfiles.py
  README.md
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix chopping the dev suffix from version strings
  .circleci/bin/test-airflow
Due: none

Fix chopping the dev suffix from version strings (#444)
  .circleci/bin/test-airflow
Due: none

Replacing myself with Ash and Drew as Code Owners
  CODEOWNERS
Due: none

Replace Kaxil with Ash and Drew as Code Owners (#445)
  CODEOWNERS
Due: none

Fix tests now that we build release version nightlies
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Fix tests now that we build release version nightlies (#446)
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Update dependencies to fix CVEs
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update .circleci/common.py
  .circleci/common.py
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update version args
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Handle dev versions
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Split on both -dev and .dev
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Testing
  .circleci/generate_circleci_config.py
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Split on both `-dev` and `.dev` (#449)
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Update dependencies to fix CVEs (#447)
  .circleci/bin/test-airflow-image.py
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Apply suggestions from code review
  2.2.5/bullseye/Dockerfile
Due: update-dockerfiles

Add 2.2.5-1-dev
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
  2.2.5/bullseye/include/clean-airflow-logs
  2.2.5/bullseye/include/entrypoint
  2.2.5/bullseye/include/pip-constraints.txt
  2.2.5/bullseye/include/pip.conf
  2.2.5/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Tag main builds with Semver compatible Airflow versions
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

fixup! Apply suggestions from code review
  2.2.5/bullseye/build-time-pip-constraints.txt
Due: none

Update changelog
  2.2.5/CHANGELOG.md
Due: verify-changelog-entries

Add 2.2.5-1-dev (#448)
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
  2.2.5/bullseye/include/clean-airflow-logs
  2.2.5/bullseye/include/entrypoint
  2.2.5/bullseye/include/pip-constraints.txt
  2.2.5/bullseye/include/pip.conf
  2.2.5/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update deps to fix zlib CVE-2018-25032
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Update deps to fix zlib CVE-2018-25032 (#454)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Release `2.2.4-4`, `2.1.4-7`, and `1.10.15-7`
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add zlib fix to changelogs
  1.10.15/CHANGELOG.md
  2.1.4/CHANGELOG.md
Due: verify-changelog-entries

Release `2.2.4-4`, `2.1.4-7`, and `1.10.15-7` (#452)
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.2.5-1
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.2.5-1 (#453)
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.2.5-2
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.2.5-2 (#456)
  .circleci/common.py
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json
