Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-generated-slack-message-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$
  verify-generated-slack-notification-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$

Rotate ssh keys, remove snyk and rebase-main
  .circleci/config.yml.j2
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
  common/Dockerfile.onbuild-bullseye
  common/Dockerfile.onbuild-buster
  main/bullseye/Dockerfile
Due: circle-config-yaml, update-dockerfiles, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Rotate ssh keys, remove snyk and rebase-main (#566)
  .circleci/config.yml.j2
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
  common/Dockerfile.onbuild-bullseye
  common/Dockerfile.onbuild-buster
  main/bullseye/Dockerfile
Due: circle-config-yaml, update-dockerfiles, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove buster from CI
  .circleci/config.yml.j2
  README.md
  common/Dockerfile.onbuild-buster
Due: circle-config-yaml, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update trivyignore files
  2.3.4/bullseye/trivyignore
  2.4.3/bullseye/trivyignore
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Remove buster from CI (#567)
  .circleci/config.yml.j2
  README.md
  common/Dockerfile.onbuild-buster
Due: circle-config-yaml, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update CODEOWNERS (#570)
  CODEOWNERS
Due: none

Always --pull when building base image
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

New 2.3.4-8 and 2.4.3-3 dev images
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update some deps, including pip/wheel/setuptools
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles

Bump gcloud-aio-auth
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

New 2.3.4-8 and 2.4.3-3 dev images (#569)
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-3 and 2.3.4-8
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Apply suggestions from code review
  2.3.4/CHANGELOG.md
  2.4.3/CHANGELOG.md
Due: verify-changelog-entries

Release 2.4.3-3 and 2.3.4-8 (#572)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

New 2.4.3-4 and 2.3.4-9 dev images
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

New 2.4.3-4 and 2.3.4-9 dev images (#573)
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-4 and 2.3.4-9
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-4 and 2.3.4-9 (#574)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove broken `EXECUTOR` support
  2.3.4/bullseye/include/entrypoint
  2.4.3/bullseye/include/entrypoint
Due: none

Remove broken `EXECUTOR` support (#575)
  2.3.4/bullseye/include/entrypoint
  2.4.3/bullseye/include/entrypoint
Due: none

Add 2.4.3-5 and 2.3.4-10 dev images
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump mysql provider due to cve
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

Bump common sql as well (required by mysql)
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

Ignore the cve for core, provider is already updated
  2.3.4/bullseye/trivyignore
  2.4.3/bullseye/trivyignore
Due: none

changelog fixup
  2.3.4/CHANGELOG.md
  2.4.3/CHANGELOG.md
Due: verify-changelog-entries

Add 2.4.3-5 and 2.3.4-10 dev images (#576)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/trivyignore
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-5 and 2.3.4-10
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-5 and 2.3.4-10 (#577)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add new 2.4.3-6 and 2.3.4-11 dev images
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump some packages, add changelog
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: verify-changelog-entries

Bump another one
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

Another!
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

last one?
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

update pyopenssl
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: none

Ignore a new one
  2.3.4/bullseye/trivyignore
  2.4.3/bullseye/trivyignore
Due: none

Add new 2.4.3-6 and 2.3.4-11 dev images (#579)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/trivyignore
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-6 and 2.3.4-11
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-6 and 2.3.4-11 (#580)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax
