Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

Apply suggestions from code review
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Change `auth_backend` to `auth_backends` (#409)
  .circleci/bin/test-airflow-image.py
  main/bullseye/Dockerfile
Due: update-dockerfiles, verify-generated-config-yaml-syntax

Update constrains and changelog for 2.2.4-1.
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/build-time-pip-constraints.txt
Due: verify-changelog-entries

Update constraints and changelog for 2.2.4-1 (#410)
  2.2.4/CHANGELOG.md
  2.2.4/bullseye/build-time-pip-constraints.txt
Due: verify-changelog-entries

Bump Fab Security Manager to 1.8.3
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Bump Fab Security Manager to 1.8.3 (#411)
  1.10.12/alpine3.10/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/buster/Dockerfile
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
  2.2.2/bullseye/Dockerfile
  2.2.3/bullseye/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Fix broken link for AC Lifecycle
  README.md
Due: verify-changelog-entries

Fix broken link for AC Lifecycle (#412)
  README.md
Due: verify-changelog-entries

Release `2.2.4-1`
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.2.4-1` (#413)
  .circleci/common.py
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Split out built_from and built_by Docker image labels
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Split out `built_from` and `built_by` Docker image labels (#414)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Only build LTS and last two versions
  .circleci/common.py
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Only build LTS and last two versions (#416)
  .circleci/common.py
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release dev images for 2.1.0-5 and 1.10.15-5
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update config.yml.j2
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Enable building main builds on PR
  .circleci/config.yml.j2
  .circleci/generate_circleci_config.py
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release dev images for 2.1.0-5 and 1.10.15-5 (#417)
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix or ignore CVEs for 1.10.15
  1.10.15/buster/build-time-pip-constraints.txt
  1.10.15/buster/trivyignore
Due: none

Fix or ignore CVEs for 1.10.15 (#419)
  1.10.15/buster/build-time-pip-constraints.txt
  1.10.15/buster/trivyignore
Due: none

Update dependecies to get latest expat
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Update dependecies to get latest expat (#421)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Release `1.10.15-5` and `2.1.4-5`
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix bug in repackaging providers script
  repackage-providers.py
Due: none

Release `1.10.15-5` and `2.1.4-5` (#420)
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix bug in repackaging providers script (#422)
  repackage-providers.py
Due: none

Bump FAB Security Manager to 1.8.4
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update 2.2.4 dependencies to get latest expat
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Missed a couple
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Update 2.2.4 dependencies to get latest expat (#424)
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles

Fix shell syntax for wc command
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update expected label names in tests
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Always build, test, and scan, and only require approval to push for version releases
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Always add image labels to main images
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump FAB Security Manager to 1.8.4 (#423)
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix constraints & bump Fab Security Manager for `main` build
  main/bullseye/Dockerfile
Due: update-dockerfiles

Fix constraints & bump Fab Security Manager for `main` build (#426)
  main/bullseye/Dockerfile
Due: update-dockerfiles

Always build, test, and scan, and only require approval to push for version releases (#418)
  .circleci/bin/test-airflow-image.py
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release `2.2.4-2`, `2.1.4-6`, and `1.10.15-6`
  1.10.15/CHANGELOG.md
  2.1.4/CHANGELOG.md
  2.2.4/CHANGELOG.md
Due: verify-changelog-entries

Release `2.2.4-2`, `2.1.4-6`, and `1.10.15-6` (#425)
  1.10.15/CHANGELOG.md
  2.1.4/CHANGELOG.md
  2.2.4/CHANGELOG.md
Due: verify-changelog-entries
