Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  entry: python3 .circleci/generate_circleci_config.py
  additional_dependencies:
  - jinja2

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

Run pre-commit hooks accessing file serially (#340)
  .pre-commit-config.yaml
Due: none

Release AC 2.2.1-2 and 2.2.0-4
  .circleci/common.py
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Bump python packages
  2.1.0/buster/build-time-pip-constraints.txt
  2.1.1/buster/build-time-pip-constraints.txt
Due: none

Fix `CVE-2021-33503` in AC 2.1.1
  2.1.1/buster/build-time-pip-constraints.txt
Due: none

Bump to `2.1.1-5`
  .circleci/common.py
  2.1.1/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Release AC `2.1.4-3`
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Apply suggestions from code review
  2.2.0/CHANGELOG.md
  2.2.1/CHANGELOG.md
Due: verify-changelog-entries

Fix `CVE-2021-33503` in AC 2.1.1 (#343)
  .circleci/common.py
  2.1.1/buster/Dockerfile
  2.1.1/buster/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries

Fix `CVE-2021-21240` and `CVE-2021-33503`
  2.1.0/buster/build-time-pip-constraints.txt
Due: none

Bump to 2.1.0-6.dev
  .circleci/common.py
  2.1.0/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Fix `CVE-2021-21240` and `CVE-2021-33503` in 2.1.0 (#342)
  .circleci/common.py
  2.1.0/buster/Dockerfile
  2.1.0/buster/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries

Release AC `2.2.1-2`, `2.2.0-4` and `2.1.4-3` (#341)
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.0/CHANGELOG.md
  2.2.0/bullseye/Dockerfile
  2.2.1/CHANGELOG.md
  2.2.1/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Add Changelogs for `2.1.0-6.dev`, `2.1.1-5.dev` and `2.1.3-3.dev`
  .circleci/common.py
  2.1.0/CHANGELOG.md
  2.1.1/CHANGELOG.md
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Add Changelogs for `2.1.0-6.dev`, `2.1.1-5.dev` and `2.1.3-3.dev` (#344)
  .circleci/common.py
  2.1.0/CHANGELOG.md
  2.1.1/CHANGELOG.md
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Update 2.2.2-1 changelog
  2.2.2/CHANGELOG.md
Due: verify-changelog-entries

Run 2.2.2
  .circleci/common.py
  .circleci/config.yml
  .circleci/generate_circleci_config.py
Due: circle-config-yaml, update-dockerfiles, verify-changelog-entries

Fix the nightly Job
  .circleci/config.yml
Due: circle-config-yaml

Fix the nightly Job (#346)
  .circleci/config.yml
Due: circle-config-yaml

Revert "Fix the nightly Job"
  .circleci/config.yml
Due: circle-config-yaml

Revert "Fix the nightly Job" (#347)
  .circleci/config.yml
Due: circle-config-yaml

Fix Nightly jobs with CircleCI preview feature
  .circleci/config.yml.j2
Due: circle-config-yaml

Update config.yml.j2
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix Nightly jobs with CircleCI preview feature (#348)
  .circleci/config.yml.j2
Due: circle-config-yaml

Use Python 3.7 and Buster image
  2.2.1/buster
  2.2.1/buster/Dockerfile
  2.2.1/buster/build-time-pip-constraints.txt
  2.2.1/buster/include/clean-airflow-logs
  2.2.1/buster/include/entrypoint
  2.2.1/buster/include/pip-constraints.txt
  2.2.1/buster/include/pip.conf
  2.2.1/buster/trivyignore
Due: update-dockerfiles

Fix SSH Key
  .circleci/config.yml
  .circleci/config.yml.j2
Due: circle-config-yaml

Release AC `2.1.0-6`, `2.1.1-5` and `2.1.3-3`
  .circleci/common.py
  2.1.0/CHANGELOG.md
  2.1.0/buster/Dockerfile
  2.1.1/CHANGELOG.md
  2.1.1/buster/Dockerfile
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Fix `CVE-2021-23214`
  1.10.10/buster/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/buster/Dockerfile
  2.1.1/CHANGELOG.md
  2.1.1/buster/Dockerfile
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Release AC `2.1.0-6`, `2.1.1-5` and `2.1.3-3` (#349)
  .circleci/common.py
  1.10.10/buster/Dockerfile
  1.10.12/buster/Dockerfile
  1.10.14/buster/Dockerfile
  1.10.15/buster/Dockerfile
  2.0.0/buster/Dockerfile
  2.0.2/buster/Dockerfile
  2.1.0/CHANGELOG.md
  2.1.0/buster/Dockerfile
  2.1.1/CHANGELOG.md
  2.1.1/buster/Dockerfile
  2.1.3/CHANGELOG.md
  2.1.3/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Update 2.2.2-1 constraints
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: none

Update Dockerfile
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles

Update 2.2.2-1 constraints (#350)
  2.2.2/bullseye/Dockerfile
  2.2.2/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles

Release AC 2.2.2-1
  .circleci/common.py
  2.2.2/CHANGELOG.md
  2.2.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Fix ``CVE-2021-23214`` in 2.2.0 and 2.2.1 series
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
Due: update-dockerfiles

Fix a bunch of CVEs
  1.10.10/alpine3.10/build-time-pip-constraints.txt
  1.10.10/buster/build-time-pip-constraints.txt
  1.10.12/alpine3.10/build-time-pip-constraints.txt
  1.10.12/buster/build-time-pip-constraints.txt
  1.10.14/buster/build-time-pip-constraints.txt
  1.10.15/buster/Dockerfile
  1.10.15/buster/build-time-pip-constraints.txt
  2.0.0/buster/build-time-pip-constraints.txt
Due: update-dockerfiles

fixup! Fix a bunch of CVEs
  1.10.10/alpine3.10/build-time-pip-constraints.txt
  1.10.10/buster/build-time-pip-constraints.txt
  1.10.14/buster/build-time-pip-constraints.txt
  1.10.15/buster/build-time-pip-constraints.txt
  2.1.3/buster/build-time-pip-constraints.txt
Due: none

Fix ``CVE-2021-23214`` in 2.2.0 and 2.2.1 series (#352)
  2.2.0/bullseye/Dockerfile
  2.2.1/bullseye/Dockerfile
Due: update-dockerfiles

Fix a bunch of Python Package CVEs (#353)
  1.10.10/alpine3.10/build-time-pip-constraints.txt
  1.10.10/buster/build-time-pip-constraints.txt
  1.10.12/alpine3.10/build-time-pip-constraints.txt
  1.10.12/buster/build-time-pip-constraints.txt
  1.10.14/buster/build-time-pip-constraints.txt
  1.10.15/buster/Dockerfile
  1.10.15/buster/build-time-pip-constraints.txt
  2.0.0/buster/build-time-pip-constraints.txt
  2.1.3/buster/build-time-pip-constraints.txt
Due: update-dockerfiles

Insert latest tags into the DB
  .circleci/config.yml.j2
Due: circle-config-yaml

Fix Static Checks
  .circleci/config.yml.j2
Due: circle-config-yaml

Adding slack notification for a new dev tag
  .circleci/config.yml.j2
Due: circle-config-yaml

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
