Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-generated-slack-message-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$
  verify-generated-slack-notification-templates-json-syntax: any of: .circleci/(config.yml.j2|common.py|generate_circleci_config.py$|new_build_slack_approval.json.j2|new_dev_build_slack_notification.json.j2|push.bash.j2|regression_test_slack_approval.json.j2|regression_test_slack_notification.json.j2|smoke_test_slack_notification.json.j2), but not: ^alpine-packages/.*$

Publish 2.4.2-1-dev
  .circleci/common.py
  2.4.2/CHANGELOG.md
  2.4.2/bullseye/Dockerfile
  2.4.2/bullseye/build-time-pip-constraints.txt
  2.4.2/bullseye/include/clean-airflow-logs
  2.4.2/bullseye/include/entrypoint
  2.4.2/bullseye/include/pip-constraints.txt
  2.4.2/bullseye/include/pip.conf
  2.4.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Publish 2.4.2-1-dev (#552)
  .circleci/common.py
  2.4.2/CHANGELOG.md
  2.4.2/bullseye/Dockerfile
  2.4.2/bullseye/build-time-pip-constraints.txt
  2.4.2/bullseye/include/clean-airflow-logs
  2.4.2/bullseye/include/entrypoint
  2.4.2/bullseye/include/pip-constraints.txt
  2.4.2/bullseye/include/pip.conf
  2.4.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release AC 2.4.2+astro.1
  .circleci/common.py
  2.4.2/CHANGELOG.md
  2.4.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release AC 2.4.2+astro.1 (#553)
  .circleci/common.py
  2.4.2/CHANGELOG.md
  2.4.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.3.4-5-dev
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.3.4-5-dev (#554)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Releasing AC 2.3.4-5
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Releasing AC 2.3.4-5 (#555)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add `2.1.4-10` and `2.3.4-6` dev images
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Bump deps
  2.1.4/CHANGELOG.md
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/trivyignore
  2.3.4/bullseye/trivyignore
Due: verify-changelog-entries

Add `2.1.4-10` and `2.3.4-6` dev images (#556)
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/trivyignore
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/trivyignore
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove 2.4.1
  .circleci/common.py
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/build-time-pip-constraints.txt
  2.4.1/bullseye/include/clean-airflow-logs
  2.4.1/bullseye/include/entrypoint
  2.4.1/bullseye/include/pip-constraints.txt
  2.4.1/bullseye/include/pip.conf
  2.4.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove 2.4.1 (#557)
  .circleci/common.py
  2.4.1/bullseye/Dockerfile
  2.4.1/bullseye/build-time-pip-constraints.txt
  2.4.1/bullseye/include/clean-airflow-logs
  2.4.1/bullseye/include/entrypoint
  2.4.1/bullseye/include/pip-constraints.txt
  2.4.1/bullseye/include/pip.conf
  2.4.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.1.4-10 and 2.3.4-6.
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.1.4-10 and 2.3.4-6. (#558)
  .circleci/common.py
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Publish `2.4.3-1-dev`
  .circleci/common.py
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/include/clean-airflow-logs
  2.4.3/bullseye/include/entrypoint
  2.4.3/bullseye/include/pip-constraints.txt
  2.4.3/bullseye/include/pip.conf
  2.4.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

fixup! Publish `2.4.3-1-dev`
  2.4.3/bullseye/trivyignore
Due: none

Publish `2.4.3-1-dev` (#559)
  .circleci/common.py
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/include/clean-airflow-logs
  2.4.3/bullseye/include/entrypoint
  2.4.3/bullseye/include/pip-constraints.txt
  2.4.3/bullseye/include/pip.conf
  2.4.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release AC 2.4.3-1
  .circleci/common.py
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release AC 2.4.3-1 (#560)
  .circleci/common.py
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

add plugin to 2.4.3 as well
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles

bumped plugin version to 1.0.1
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.2/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

bumped analytics plugin version to 1.0.2
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.2/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

add Astronomer analytics plugin (#549)
  2.1.4/buster/Dockerfile
  2.3.4/bullseye/Dockerfile
  2.4.2/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles

Remove 2.4.2
  2.4.2/bullseye/Dockerfile
  2.4.2/bullseye/build-time-pip-constraints.txt
  2.4.2/bullseye/include/clean-airflow-logs
  2.4.2/bullseye/include/entrypoint
  2.4.2/bullseye/include/pip-constraints.txt
  2.4.2/bullseye/include/pip.conf
  2.4.2/bullseye/trivyignore
Due: update-dockerfiles

Forgot some stuff
  .circleci/common.py
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove 2.4.2 (#561)
  .circleci/common.py
  2.4.2/bullseye/Dockerfile
  2.4.2/bullseye/build-time-pip-constraints.txt
  2.4.2/bullseye/include/clean-airflow-logs
  2.4.2/bullseye/include/entrypoint
  2.4.2/bullseye/include/pip-constraints.txt
  2.4.2/bullseye/include/pip.conf
  2.4.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.4.3-2-dev
  .circleci/common.py
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add 2.4.3-2-dev (#562)
  .circleci/common.py
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Update protobuf
  2.4.3/bullseye/build-time-pip-constraints.txt
  2.4.3/bullseye/trivyignore
Due: none

Remove 2.1.4
  .circleci/common.py
  2.1.4/buster/Dockerfile
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/include/clean-airflow-logs
  2.1.4/buster/include/entrypoint
  2.1.4/buster/include/pip-constraints.txt
  2.1.4/buster/include/pip.conf
  2.1.4/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Remove 2.1.4 (#563)
  .circleci/common.py
  2.1.4/buster/Dockerfile
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/include/clean-airflow-logs
  2.1.4/buster/include/entrypoint
  2.1.4/buster/include/pip-constraints.txt
  2.1.4/buster/include/pip.conf
  2.1.4/buster/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

New 2.4.3 and 2.3.4 dev images
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Add backported security fixes to ignore list
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/trivyignore
Due: verify-changelog-entries

Update mariadb and libtasn1
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries

Bump again
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles

New 2.4.3 and 2.3.4 dev images (#564)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/trivyignore
  2.4.3/CHANGELOG.md
  2.4.3/bullseye/Dockerfile
  2.4.3/bullseye/build-time-pip-constraints.txt
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-2 and 2.3.4-7
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax

Release 2.4.3-2 and 2.3.4-7 (#565)
  .circleci/common.py
  2.3.4/bullseye/Dockerfile
  2.4.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-generated-slack-message-templates-json-syntax, verify-generated-slack-notification-templates-json-syntax
