Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

circle-config-yaml:
  name: Checks for consistency between config.yml and config.yml.j2
  language: python
  additional_dependencies:
  - jinja2
  entry: python3 .circleci/generate_circleci_config.py

update-dockerfiles:
  name: Updates all Dockerfiles with their respective version numbers and constraint files
  language: python
  entry: python3 .circleci/update_dockerfiles.py
  require_serial: true

verify-changelog-entries:
  name: Verifies individual CHANGELOG files for each release and adds links to README.md
  language: python
  entry: python3 .circleci/verify_changelog_entries.py
  require_serial: true

brittle-verify-slack-notification-job-json-syntax:
  name: '[May be brittle] Verify build approval is valid JSON'
  language: system
  entry: 'bash -c "echo >&2 \"Feel free to remove this check if it''s too brittle\""
  
    jq build_approval_slack_notification.json.j2
  
    jq new_dev_build_slack_notification.json.j2
  
    '

brittle-verify-push-job-bash-syntax:
  name: '[May be brittle] Verify push job is valid Bash'
  language: system
  entry: 'bash -c "echo >&2 \"Feel free to remove this check if it''s too brittle\""
  
    bash -n .circleci/push.bash.j2
  
    '

verify-generated-config-yaml-syntax:
  name: Verify the generated config.yml is valid YAML
  language: python
  additional_dependencies:
  - jinja2
  entry: 'python3 .circleci/generate_circleci_config.py \
  
    | yq eval . -
  
    '

verify-build-approval-slack-notification-json:
  name: Verify build approval Slack notifications use valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

verify-slack-notification-job-json:
  name: Verify Slack notification job uses valid JSON
  language: python
  additional_dependencies:
  - jinja2
  ...

Install yq
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix checking for test type
  .circleci/kickoff_qa_tests.sh
Due: none

Use long form subcommands and options
  .circleci/kickoff_qa_tests.sh
Due: none

Allow empty commits, since these will be used to force test runs
  .circleci/kickoff_qa_tests.sh
Due: none

Fix QA test automation
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update QA repo cloning/updating logic to also handle fast forward rebases/merges
  .circleci/kickoff_qa_tests.sh
Due: none

Release AC 2.1.4-9,1.10.15-9
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix and improve triggering QA tests (#507)
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release AC 2.1.4-9,1.10.15-9 (#508)
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix syntax error in Jinja JSON
  .circleci/smoke_test_slack_notification.json.j2
Due: verify-generated-config-yaml-syntax

Use a third-party pre-commit hook, fix pre-commit config to properly check Bash and JSON syntaxes
  .circleci/kickoff_qa_tests.sh
  .circleci/push.bash.j2
  .pre-commit-config.yaml
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fixups from review
  .circleci/push.bash.j2
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix JSON syntax and pre-commit config (#509)
  .circleci/kickoff_qa_tests.sh
  .circleci/push.bash.j2
  .circleci/smoke_test_slack_notification.json.j2
  .pre-commit-config.yaml
Due: brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Try to format options for better rendering in CircleCI
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add newline continuations
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Chomp the last newline in block string
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Experiment better bash formatting (#510)
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump 2.3.3 dependency numbers to fix trivy issues
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles

Bump 2.3.3 dependency numbers to fix trivy issues (#511)
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles

Add 2.3.3-2dev
  .circleci/common.py
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.3.3-2dev (#512)
  .circleci/common.py
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Also configure image_tag in QA tests
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Also configure image_tag in QA tests (#513)
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add links to QA tests CircleCI project, and improve Slack notifications
  .circleci/config.yml.j2
  .circleci/regression_test_slack_notification.json.j2
  .circleci/smoke_test_slack_notification.json.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Further improve Slack notifications
  .circleci/new_build_slack_approval.json.j2
  .circleci/new_dev_build_slack_notification.json.j2
  .circleci/regression_test_slack_approval.json.j2
  .circleci/regression_test_slack_notification.json.j2
  .circleci/smoke_test_slack_notification.json.j2
Due: brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax

Better links and Slack messages (#514)
  .circleci/config.yml.j2
  .circleci/new_build_slack_approval.json.j2
  .circleci/new_dev_build_slack_notification.json.j2
  .circleci/regression_test_slack_approval.json.j2
  .circleci/regression_test_slack_notification.json.j2
  .circleci/smoke_test_slack_notification.json.j2
Due: circle-config-yaml, brittle-verify-slack-notification-job-json-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Stop building from 'main', since we don't need to anymore
  .circleci/common.py
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Stop building from 'main', since we don't need to anymore (#515)
  .circleci/common.py
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Bump amazon provider to 4.1.0
  2.3.3/bullseye/build-time-pip-constraints.txt
Due: none

Bump amazon provider to 4.1.0 (#516)
  2.3.3/bullseye/build-time-pip-constraints.txt
Due: none

Release 2.3.3-2
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 2.3.3-2 (#517)
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix trivy issue for 2.1.4
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Fix trivy issue for 1.10.15
  1.10.15/buster/Dockerfile
Due: update-dockerfiles

Fix trivy issue (#518)
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
Due: update-dockerfiles

Publish AC 2.3.4-1-dev
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/include/clean-airflow-logs
  2.3.4/bullseye/include/entrypoint
  2.3.4/bullseye/include/pip-constraints.txt
  2.3.4/bullseye/include/pip.conf
  2.3.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Publish AC 2.3.4-1-dev (#520)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/build-time-pip-constraints.txt
  2.3.4/bullseye/include/clean-airflow-logs
  2.3.4/bullseye/include/entrypoint
  2.3.4/bullseye/include/pip-constraints.txt
  2.3.4/bullseye/include/pip.conf
  2.3.4/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release AC 2.3.4-1
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release AC 2.3.4-1 (#521)
  .circleci/common.py
  2.3.4/CHANGELOG.md
  2.3.4/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update pip.conf & pip install for packages
  1.10.15/buster/Dockerfile
  1.10.15/buster/include/pip.conf
  2.1.4/buster/Dockerfile
  2.1.4/buster/include/pip.conf
  2.3.3/bullseye/Dockerfile
  2.3.3/bullseye/include/pip.conf
  2.3.4/bullseye/Dockerfile
  2.3.4/bullseye/include/pip.conf
  main/bullseye/Dockerfile
  main/bullseye/include/pip.conf
Due: update-dockerfiles

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
