Repository astronomer/ap-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, update-dockerfiles, verify-changelog-entries, brittle-verify-slack-notification-job-json-syntax, brittle-verify-push-job-bash-syntax, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Path conditions:
  circle-config-yaml: any of: config.yml$|config.yml.j2|generate_circleci_config.py$, but not: ^alpine-packages/.*$
  update-dockerfiles: any of: (common|update_dockerfiles).py$|Dockerfile$, but not: ^alpine-packages/.*$
  verify-changelog-entries: any of: (common|verify_changelog_entries).py$|README.md$|CHANGELOG.md$, but not: ^alpine-packages/.*$
  brittle-verify-slack-notification-job-json-syntax: any of: .circleci/(build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.j2), but not: ^alpine-packages/.*$
  brittle-verify-push-job-bash-syntax: any of: .circleci/push.bash.j2, but not: ^alpine-packages/.*$
  verify-generated-config-yaml-syntax: any of: .*.j2$|.circleci/.*.py$, but not: ^alpine-packages/.*$
  verify-build-approval-slack-notification-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$
  verify-slack-notification-job-json: any of: config.yml.j2|common.py|generate_circleci_config.py$|build_approval_slack_notification.json.j2|new_dev_build_slack_notification.json.jq|push.bash.j2, but not: ^alpine-packages/.*$

:facepalm:
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.5/bullseye/trivyignore
  2.3.0/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Ignore disputed werkzeug CVE too
  1.10.15/buster/trivyignore
  2.1.4/buster/trivyignore
  2.2.5/bullseye/trivyignore
  2.3.0/bullseye/trivyignore
  2.3.2/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Update trivyignore list for non-critical to us issues (#492)
  1.10.15/buster/trivyignore
  2.1.4/buster/build-time-pip-constraints.txt
  2.1.4/buster/trivyignore
  2.2.5/bullseye/trivyignore
  2.3.0/bullseye/trivyignore
  2.3.2/bullseye/trivyignore
  main/bullseye/trivyignore
Due: none

Update elasticsearch provider to 4.0.0
  2.3.2/bullseye/build-time-pip-constraints.txt
Due: none

Remove 2.3.0 and 2.3.1
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/build-time-pip-constraints.txt
  2.3.0/bullseye/include/clean-airflow-logs
  2.3.0/bullseye/include/entrypoint
  2.3.0/bullseye/include/pip-constraints.txt
  2.3.0/bullseye/include/pip.conf
  2.3.0/bullseye/trivyignore
  2.3.1/bullseye/Dockerfile
  2.3.1/bullseye/build-time-pip-constraints.txt
  2.3.1/bullseye/include/clean-airflow-logs
  2.3.1/bullseye/include/entrypoint
  2.3.1/bullseye/include/pip-constraints.txt
  2.3.1/bullseye/include/pip.conf
  2.3.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove 2.3.0 and 2.3.1 (#496)
  .circleci/common.py
  2.3.0/bullseye/Dockerfile
  2.3.0/bullseye/build-time-pip-constraints.txt
  2.3.0/bullseye/include/clean-airflow-logs
  2.3.0/bullseye/include/entrypoint
  2.3.0/bullseye/include/pip-constraints.txt
  2.3.0/bullseye/include/pip.conf
  2.3.0/bullseye/trivyignore
  2.3.1/bullseye/Dockerfile
  2.3.1/bullseye/build-time-pip-constraints.txt
  2.3.1/bullseye/include/clean-airflow-logs
  2.3.1/bullseye/include/entrypoint
  2.3.1/bullseye/include/pip-constraints.txt
  2.3.1/bullseye/include/pip.conf
  2.3.1/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update elasticsearch provider to 4.0.0 (#495)
  2.3.2/bullseye/build-time-pip-constraints.txt
Due: none

Update dependencies to fix CVEs
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  2.3.2/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update dependencies to fix CVEs (#494)
  .circleci/common.py
  1.10.15/buster/Dockerfile
  2.1.4/buster/Dockerfile
  2.2.5/bullseye/Dockerfile
  2.3.2/bullseye/Dockerfile
  main/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 1.10.15-8, 2.1.4-8,2.2.5-3,2.3.2-2
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Release 1.10.15-8, 2.1.4-8,2.2.5-3,2.3.2-2 (#493)
  .circleci/common.py
  1.10.15/CHANGELOG.md
  1.10.15/buster/Dockerfile
  2.1.4/CHANGELOG.md
  2.1.4/buster/Dockerfile
  2.2.5/CHANGELOG.md
  2.2.5/bullseye/Dockerfile
  2.3.2/CHANGELOG.md
  2.3.2/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Expand saved logs for easier debugging
  .circleci/bin/test-airflow
Due: none

Use the tail option with kubectl logs
  .circleci/bin/test-airflow
Due: none

Expand saved logs for easier debugging (#498)
  .circleci/bin/test-airflow
Due: none

Add AC 2.3.3-1-dev
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
  2.3.3/bullseye/build-time-pip-constraints.txt
  2.3.3/bullseye/include/clean-airflow-logs
  2.3.3/bullseye/include/entrypoint
  2.3.3/bullseye/include/pip-constraints.txt
  2.3.3/bullseye/include/pip.conf
  2.3.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add changelog for the cherrypicked commit
  2.3.3/CHANGELOG.md
Due: verify-changelog-entries

Add AC 2.3.3-1-dev (#499)
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
  2.3.3/bullseye/build-time-pip-constraints.txt
  2.3.3/bullseye/include/clean-airflow-logs
  2.3.3/bullseye/include/entrypoint
  2.3.3/bullseye/include/pip-constraints.txt
  2.3.3/bullseye/include/pip.conf
  2.3.3/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove providers dependency on astronomer certified
  repackage-providers.py
Due: none

Release AC `2.3.3-1`
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Update release date and changelog
  2.3.3/CHANGELOG.md
Due: verify-changelog-entries

Release AC `2.3.3-1` (#501)
  .circleci/common.py
  2.3.3/CHANGELOG.md
  2.3.3/bullseye/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove 2.2.5 and 2.3.2
  .circleci/common.py
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
  2.2.5/bullseye/include/clean-airflow-logs
  2.2.5/bullseye/include/entrypoint
  2.2.5/bullseye/include/pip-constraints.txt
  2.2.5/bullseye/include/pip.conf
  2.2.5/bullseye/trivyignore
  2.3.2/bullseye/Dockerfile
  2.3.2/bullseye/build-time-pip-constraints.txt
  2.3.2/bullseye/include/clean-airflow-logs
  2.3.2/bullseye/include/entrypoint
  2.3.2/bullseye/include/pip-constraints.txt
  2.3.2/bullseye/include/pip.conf
  2.3.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Remove 2.2.5 and 2.3.2 (#504)
  .circleci/common.py
  2.2.5/bullseye/Dockerfile
  2.2.5/bullseye/build-time-pip-constraints.txt
  2.2.5/bullseye/include/clean-airflow-logs
  2.2.5/bullseye/include/entrypoint
  2.2.5/bullseye/include/pip-constraints.txt
  2.2.5/bullseye/include/pip.conf
  2.2.5/bullseye/trivyignore
  2.3.2/bullseye/Dockerfile
  2.3.2/bullseye/build-time-pip-constraints.txt
  2.3.2/bullseye/include/clean-airflow-logs
  2.3.2/bullseye/include/entrypoint
  2.3.2/bullseye/include/pip-constraints.txt
  2.3.2/bullseye/include/pip.conf
  2.3.2/bullseye/trivyignore
  README.md
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.1.4-9-dev
  .circleci/common.py
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Add 2.1.4-9-dev (#503)
  .circleci/common.py
  2.1.4/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix openssl cve in 1.10.15
  .circleci/common.py
  1.10.15/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix openssl cve in 1.10.15 (#505)
  .circleci/common.py
  1.10.15/buster/Dockerfile
Due: update-dockerfiles, verify-changelog-entries, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Kick off smoke edge and dev builds and regression tests after approval
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
  .circleci/new_build_slack_approval.json.j2
  .circleci/regression_test_slack_approval.json.j2
  .circleci/regression_test_slack_notification.json.j2
  .circleci/smoke_test_slack_notification.json.j2
  .pre-commit-config.yaml
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix test assertion
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Remove history comment
  .circleci/bin/test-airflow-image.py
Due: verify-generated-config-yaml-syntax

Automate smoke and regression tests (#502)
  .circleci/bin/test-airflow-image.py
  .circleci/config.yml.j2
  .circleci/kickoff_qa_tests.sh
  .circleci/new_build_slack_approval.json.j2
  .circleci/regression_test_slack_approval.json.j2
  .circleci/regression_test_slack_notification.json.j2
  .circleci/smoke_test_slack_notification.json.j2
  .pre-commit-config.yaml
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Kick off smoke and regression tests from a VM
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Allow smoke tests from the test branch
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fix logic to run smoke & regression tests for dev builds
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Explicitly check out code
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Properly gate dev builds
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Set Bash debug options
  .circleci/kickoff_qa_tests.sh
Due: none

Configure git user before committing
  .circleci/kickoff_qa_tests.sh
Due: none

Fix the argument order to kickoff_qa_tests.sh
  .circleci/config.yml.j2
Due: circle-config-yaml, verify-generated-config-yaml-syntax, verify-build-approval-slack-notification-json, verify-slack-notification-job-json

Fixup kickoff_qa_tests.sh
  .circleci/kickoff_qa_tests.sh
Due: none
